name: Deploy to development

on:
  push:
    branches:
      - feature/deploy
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy-to-development:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: development
